.login-container {
    background-color: #18181B;
    height: 100vh;
    color: #FFFFFF80;
    width: 100%;
    overflow: auto;
    position: relative;

    .form-fields{
        display: flex;
        flex-direction: column;
        height: 90vh;
        align-items: center;
        justify-content: center;
        width: 100%;

        & form{
            width: 100%;
            position: relative;
        }
    }
    
    .back-button{
        font-size: 20px;
        color: white;
        cursor: pointer;
        position: absolute;
        z-index: 1000;
        left: 30px;
        top: 10px;
    }
    
    .img-1{
        position: absolute;
        width: 20%;
        left: 0px;
        top: 20%
    }

    .img-2{
        position: absolute;
        right: 0px;
        top: 10%;
    }

    .img-3{
        position: absolute;
        bottom: 0px;
        right: 18%
    }
    
    .form-group.btn{
        margin-top: 28px;
        
        & > button{
            width: 100%;
            border-radius: 12px;
            background-color: #1A5FFF;
            border: none;
            outline: none;
            padding: 14px 0px;
            box-shadow: 0px 4px 10px 0px #E9444B40;
            color: white;
            cursor: pointer;
            font-weight: bold;
            font-size: 15px;
        }
    }

    .form-group {
        width: 30%;
        margin-bottom: 15px;
        margin: auto;

        &.error{
            border: 1px solid red;
        }
    }
    
    .form-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: white;
    }
    
    .form-group input {
        width: 100%;
        padding: 12px 14px;
        font-size: 16px;
        border: 1px solid #FFFFFF80;
        border-radius: 12px;
        background-color: transparent;
        color: white;
    }
    
    .form-group input:focus {
        outline: none;
    }

    .register-btn{
        color: white;
        text-align: center;
        margin-top: 12px;

        & > span{
            color: #2478FE;
            cursor: pointer;
        }
    }

    .err-msg{
        color: red;
        font-size: 14px;
        height: 21px;
    }
}

