.header-container {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;

    &>select {
        outline: none;
        background-color: #1D1D1D;
        color: white;
        width: 180px;
        border-radius: 4px;
        padding: 10px 4px;
        display: flex;
        justify-content: center;
    }

    &.light-header>select{
        background-color: white;
        color: #1A5FFF;
        border: 1px solid #1A5FFF;
    }
    .action-buttons{
        position: absolute;
        right: 4%;
        display: flex;
        gap: 4rem;
        font-size: 13px;
        align-items: center;

        .switch-buttons{
            display: flex;
            gap: 0.75rem;
            font-weight: 500;

            &.light-mode-switch{
                color: #000000EB;
            }
        }

        .share-btn {
            color: white;
            background-color: #1A5FFF;
            outline: none;
            border: 0px;
            padding: 6px 16px;
            border-radius: 4px;
            cursor: pointer;
            font-weight: 500;
        }
    }
}
