.toggle-switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 19px;
    
    .toggle-switch-checkbox {
      display: none;
    }
    
    .toggle-switch-label {
      display: block;
      border-radius: 0px;
      cursor: pointer;
      position: relative;
      height: 100%;
      width: 100%;
    }
    
    .toggle-switch-inner {
      display: block;
      height: 100%;
      border-radius: 20px;
      background-color: #1A5FFF;
      transition: margin 0.3s ease-in-out;

      &.light-mode{
        background-color: #B1B1B1;
      }
    }
    
    .toggle-switch-switch {
      position: absolute;
      top: 2px;
      left: 2px;
      width: 15px;
      height: 15px;
      border-radius: 20px;
      background-color: white;
      transition: left 0.3s ease-in-out;
    }
    
    .toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
      left: 68%;
    }
  }
  